Repository friction2d/friction, pull requests merged in 2024-06, with the labels that each got.

#189 line tag
  src/core/svgimporter.cpp
Labels: enhancement, svg import

#190 SVG: support quick preview
  src/app/GUI/mainwindow.cpp
  src/app/GUI/mainwindow.h
  src/ui/dialogs/exportsvgdialog.cpp
  src/ui/dialogs/exportsvgdialog.h
Labels: enhancement, svg export, ux

#191 ShaderEffects refactor v1
  src/core/CMakeLists.txt
  src/core/ShaderEffects/shadereffect.cpp
  src/core/ShaderEffects/shadereffectcaller.cpp
  src/core/ShaderEffects/shadereffectcaller.h
  src/core/ShaderEffects/shadereffectjs.cpp
  src/core/ShaderEffects/shadereffectjs.h
  src/core/ShaderEffects/shadervaluehandler.cpp
  src/core/ShaderEffects/shadervaluehandler.h
  src/core/ShaderEffects/uniformspecifiercreator.cpp
  src/core/ShaderEffects/uniformspecifiercreator.h
  src/core/threadsafeqjsengine.h
Labels: qt, qml, refactor, qjsengine, shaders

#198 Fix linejoin and linecap support in SVG importer
  src/core/svgimporter.cpp
Labels: svg import
