Repository friction2d/friction, pull requests merged in 2025-01, with the labels that each got.

#402 New Linux AppImage/Universal binaries (X11+wayland+portal)
  .github/workflows/linux.yml
  .gitignore
  src/app/GUI/RenderWidgets/renderinstancewidget.cpp
  src/app/appdata.xml.in
  src/cmake/friction-meta.cmake
  src/core/appsupport.cpp
  src/core/appsupport.h
  src/scripts/Dockerfile.vfxplatform
  src/scripts/build.sh
  src/scripts/build_vfxplatform.sh
  src/scripts/build_vfxplatform_friction.sh
  src/scripts/build_vfxplatform_package.sh
  src/scripts/build_vfxplatform_sdk02.sh
  src/scripts/flatpak/README.md
  src/scripts/flatpak/build.sh
  src/scripts/flatpak/flathub.json
  src/scripts/flatpak/graphics.friction.Friction.json
  src/scripts/flatpak/package.sh
  src/scripts/flatpak/run.sh
  src/ui/dialogs/exportsvgdialog.cpp
Labels: enhancement, qt, linux, ci, opengl, packaging, vfxplatform, x11, wayland

#410 Fix shader 'texture' usage
  src/core/RasterEffects/brightnesscontrasteffect.frag
  src/core/RasterEffects/colorizeeffect.frag
  src/core/RasterEffects/motionblureffect.cpp
  src/core/RasterEffects/noisefadeeffect.frag
  src/core/RasterEffects/openglrastereffectcaller.cpp
  src/core/RasterEffects/wipeeffect.frag
  src/core/ShaderEffects/shadereffectprogram.cpp
  src/core/appsupport.cpp
  src/core/appsupport.h
  src/core/glhelpers.cpp
  src/core/shaders/maxalpha.frag
Labels: opengl

#439 Scene bindings
  src/app/GUI/Expressions/expressionhighlighter.cpp
  src/core/CMakeLists.txt
  src/core/Expressions/propertybindingparser.cpp
  src/core/Expressions/scenebinding.cpp
  src/core/Expressions/scenebinding.h
  src/core/Properties/property.cpp
  src/core/Properties/property.h
Labels: enhancement, expressions
